* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header,
.footer {
    background-color: #1f2937;
    height: 500px;
}

.top-header,
.bottom-header,
.footer,
button,
.action {
    color: #f9faf8;
}

.top-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 10px;
    margin-bottom: 80px;
}

.logo-text {
    font-size: 24px;
    font-style: italic;
}

ul {
    list-style-type: none;
}

li {
    display: inline-block;
    padding: 0 10px;
}

a {
    color: #f9faf8;
    font-size: 18px;
    text-decoration: none;
}

.bottom-header {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    margin: 30px 20px;
}

.left-text {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 0 20px;
}

.main-text {
    font-size: 48px;
    font-weight: bolder;
    margin: 8px 0;
}

button {
    background-color: #3882f6;
    border-radius: 5px;
    border-color: #3882f6;
    text-align: center;
    padding: 8px;
    margin: 10px 20px;
    flex-shrink: 0;
}

img {
    width: 400px;
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.information-header {
    color: #1f2937;
    font-size: 36px;
    font-weight: bolder;
    text-align: center;
    padding: 10px;
    margin: 10px;
}

.information-boxes {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.information-title {
    text-align: center;
}

.quote-section {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    padding: 180px;
}

.quote-text {
    color: #1f2937;
    font-size: 36px;
    font-weight: light;
    font-style: italic;
    padding: 40px 80px 0;
}

.quote-author {
    font-weight: bold;
    margin-left: auto;
    padding-right: 100px;
}

.action-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 120px;
}

.action {
    background-color: #3882f6;
    border-radius: 5px;
    display: flex;
    flex: initial;
    padding: 20px 50px;
    justify-content: space-around;
    align-items: center;
}

.action-button {
    border-color: #e5e7eb;
    flex-shrink: 0;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
}